html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    /* background-color: #0f4979; */
}
body{
    font-family: sans-serif;
}
header{
    width: 200px;
    height:15vh;
    /* background: url(https://media.istockphoto.com/id/1333071678/photo/earth-planet-surface-in-outer-space-stars-and-milky-way-on-background-sci-fi-space-wallpaper.jpg?s=612x612&w=0&k=20&c=kJRVYDEZiDsZHFkRsK5Fko0Ee1xOKVag6utgc4-xTcQ=); */
    /* background-color: rgb(3, 3, 54); */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyNtku3vDYE1tJv5eShVoQKiEPPNvJoDHdvg&usqp=CAU);

}
.SPATS{
    position: fixed;
    float: left;
    margin: 40px 150px;
    color: rgb(210, 225, 227);
    /* background-image: linear-gradient(to right,rgb(145, 229, 238),rgb(16, 77, 234)); */
    font-weight: 800;
    font-size: 40px;
    /* background-color: blue; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav{
    position: fixed;
    width: 100%;
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyNtku3vDYE1tJv5eShVoQKiEPPNvJoDHdvg&usqp=CAU);
    height: 120px;

}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    float: right;
    padding: 15px;
    margin-top: 10px;
}
nav ul li a{
    color: rgb(208, 247, 13);
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* padding-bottom: 3px;     */
}
nav ul li a:hover{
    color: rgb(7, 240, 62);
}
.image-container{
    width:1px;
    height: 16vh;
    display: flex;
    float: left;

}
/* .image-container img { */
    /* height:100%; */
/* } */ 
.openMenu{
    font-size: 30px;
    color: rgb(231, 231, 244);
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
}
@media(max-width:858px){
    .mainMenu{
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
}
/* img{
    height: 100px;
    width: 100px;
    /* padding: 100px;s */
/* } */
.IntroSection{
    display: flex;
}
.namepage{
    height: 600px;
    width: 950px;
    /* background-image: linear-gradient(to right, rgb(7, 195, 242), rgb(12, 231, 15)); */
    background-image: radial-gradient(rgb(58, 103, 240),black);
    

}
h2{
    font-size: 80px;
    padding-left: 150px;
    float: inline-end;
    font-family: cursive;
}
h3{
    font-size: 30px;
    padding-left: 200px;
    /* font-family: "Brush Script MT",cursive; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* .namepage img{
    padding: 1px;
    float: left;
    margin-top: 60px;
} */
.heading{
    display: flex;
    padding-left: 20px;
    /* padding-bottom: 5px; */
    margin-bottom: 10px;
    background-image: linear-gradient(to right,rgb(241, 229, 229),rgb(17, 111, 243));
    width: 1500px;
    height: 100px;
}
#heading{
    font-size: 40px;
    /* float: left; */
    /* padding: 20px; */
    padding-left: 500px;
    font-family: cursive;
    font-weight: 900;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 3000px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin: 10px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 300px;
    /* padding: 10px; */
    /* margin: 10px; */
  }
  
  /* Clear floats after image containers
  .card::after {
    content: "";
    clear: both;
    display: table;
  } */
  button:focus{
    background-color: rgb(15, 228, 83);
  }
  * {
    box-sizing: border-box;
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #37e969;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background-image: linear-gradient(to right,rgb(211, 234, 9),rgb(12, 227, 242));
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0612ea;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }




    


    
