html,body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    font-family: sans-serif;
}
header{
    width: 2000px;
    height:100vh;
    /* background: url(https://media.istockphoto.com/id/1333071678/photo/earth-planet-surface-in-outer-space-stars-and-milky-way-on-background-sci-fi-space-wallpaper.jpg?s=612x612&w=0&k=20&c=kJRVYDEZiDsZHFkRsK5Fko0Ee1xOKVag6utgc4-xTcQ=); */
    background-color: blanchedalmond;
}
.SPATS{
    position: fixed;
    float: left;
    margin: 5px 36px;
    color: rgb(11, 198, 235);
    /* background-image: linear-gradient(to right,rgb(145, 229, 238),rgb(16, 77, 234)); */
    font-weight: bold;
    font-size: 60px;
    /* background-color: blue; */
}
nav{
    position: fixed;
    width: 100%;
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyNtku3vDYE1tJv5eShVoQKiEPPNvJoDHdvg&usqp=CAU);
    height: 100px;

}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    float: right;
    padding: 20px;
}
nav ul li a{
    color: rgb(208, 247, 13);
    font-size: 20px;
    font-family: sans-serif;    
}
nav ul li a:hover{
    color: rgb(247, 247, 252);
}

    
